{% comment %}
  Unified awards entry renderer for both formats
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      <div class="row">
        {% capture start_date %}
          {% if entry.start_date %}{{ entry.start_date }}{% elsif entry.startDate %}{{ entry.startDate }}{% elsif entry.date %}{{ entry.date }}{% endif %}
        {% endcapture %}
        {% capture end_date %}
          {% if entry.end_date %}{{ entry.end_date }}{% elsif entry.endDate %}{{ entry.endDate }}{% endif %}
        {% endcapture %}
        {% capture start_date_label_raw %}{% include cv/date_label.liquid value=start_date %}{% endcapture %}
        {% capture end_date_label_raw %}{% include cv/date_label.liquid value=end_date %}{% endcapture %}
        {% assign start_date_label = start_date_label_raw | strip %}
        {% assign end_date_label = end_date_label_raw | strip %}

        {% if start_date_label != '' %}
          {% if end_date_label != '' %}
            {% assign display_date = start_date_label | append: ' - ' | append: end_date_label %}
          {% else %}
            {% assign display_date = start_date_label %}
          {% endif %}
        {% else %}
          {% assign display_date = '' %}
        {% endif %}
        {% capture award_location %}
          {% if entry.location %}{{ entry.location }}{% endif %}
        {% endcapture %}
        {% assign award_location = award_location | strip %}

        {% if display_date != '' %}
          <div class="col-xs-2 col-sm-2 col-md-2 text-center date-column">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark align-middle" style="min-width: 75px">
                      {{- display_date -}}
                    </span>
                  </td>
                </tr>
                {% if award_location != '' %}
                  <tr>
                    <td>
                      <p class="location">
                        <i class="fa-solid fa-location-dot iconlocation"></i>
                        {{ award_location }}
                      </p>
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
            {% if entry.url %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                <a href="{{ entry.url }}">{{ entry.title }}</a>
              </h6>
            {% elsif entry.title %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.title }}</h6>
            {% endif %}

            {% if entry.awarder %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ entry.awarder }}</h6>
            {% endif %}

            {% if entry.summary %}
              <p class="ml-1 ml-md-4">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        {% else %}
          <div class="col-xs-12 col-sm-12 col-md-12">
            {% if entry.url %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                <a href="{{ entry.url }}">{{ entry.title }}</a>
              </h6>
            {% elsif entry.title %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.title }}</h6>
            {% endif %}

            {% if award_location != '' %}
              <p class="location ml-1 ml-md-4">
                <i class="fa-solid fa-location-dot iconlocation"></i>
                {{ award_location }}
              </p>
            {% endif %}

            {% if entry.awarder %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ entry.awarder }}</h6>
            {% endif %}

            {% if entry.summary %}
              <p class="ml-1 ml-md-4">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>

