{% comment %}
  Unified projects entry renderer for both formats
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      {% capture start_date %}
        {% if entry.start_date %}{{ entry.start_date }}{% elsif entry.startDate %}{{ entry.startDate }}{% elsif entry.date %}{{ entry.date }}{% endif %}
      {% endcapture %}
      {% capture end_date %}
        {% if entry.end_date %}{{ entry.end_date }}{% elsif entry.endDate %}{{ entry.endDate }}{% endif %}
      {% endcapture %}
      {% capture start_label_raw %}{% include cv/date_label.liquid value=start_date %}{% endcapture %}
      {% capture end_label_raw %}{% include cv/date_label.liquid value=end_date default='Present' %}{% endcapture %}
      {% assign start_label = start_label_raw | strip %}
      {% assign end_label = end_label_raw | strip %}
      {% capture project_location %}
        {% if entry.location %}{{ entry.location }}{% endif %}
      {% endcapture %}
      {% assign project_location = project_location | strip %}
      {% if start_label != '' %}
        {% assign project_date = start_label | append: ' - ' | append: end_label %}
      {% else %}
        {% assign project_date = '' %}
      {% endif %}

      <div class="row">
        {% if project_date != '' %}
          <div class="col-xs-2 col-sm-2 col-md-2 text-center date-column">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark align-middle" style="min-width: 75px">{{ project_date }}</span>
                  </td>
                </tr>
                {% if project_location != '' %}
                  <tr>
                    <td>
                      <p class="location">
                        <i class="fa-solid fa-location-dot iconlocation"></i>
                        {{ project_location }}
                      </p>
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
        {% else %}
          <div class="col-12 mt-2 mt-md-0">
        {% endif %}
            {% if entry.url %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                <a href="{{ entry.url }}" target="_blank">{{ entry.name }}</a>
              </h6>
            {% else %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.name }}</h6>
            {% endif %}

            {% if project_date == '' and project_location != '' %}
              <p class="location ml-1 ml-md-4">
                <i class="fa-solid fa-location-dot iconlocation"></i>
                {{ project_location }}
              </p>
            {% endif %}
            {% if entry.summary %}
              <p class="ml-1 ml-md-4">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}

            {% if entry.highlights %}
              <ul class="items">
                {% for item in entry.highlights %}
                  <li>
                    <span class="item">{{ item | markdownify | remove: '<p>' | remove: '</p>' }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
      </div>
    </li>
  {% endfor %}
</ul>
